@page
@model EndPoint.Site.Pages.Roles.DeleteRoleModel
@{
}
<div>
    
    <table>
        <thead>
            <tr>
                <th>@(Resources.DataDictionary.Id)</th>
                <th>@(Resources.DataDictionary.RoleName)</th>
                <th>@(Resources.DataDictionary.IsActive)</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>@(Model.RoleViewModel.Id)</td>
                <td>@(Model.RoleViewModel.Name)</td>
                <td>@(Model.RoleViewModel.IsActive)</td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" type="button" onclick=""></button>
    </div>
</div>

<script type="text/javascript">
    function 
</script>