@page
@model EndPoint.Site.Pages.Roles.IndexModel
@{
}


<div class="col-12">
    <br />
    <a asp-page="Create">CreateRole</a>
    <br />
    <table>
        <thead>
            <tr>
                <th>Number | </th>
                <th> Actions| </th>
                <th>@(Resources.DataDictionary.Id)       | </th>
                <th>@(Resources.DataDictionary.RoleName) | </th>
                <th>@(Resources.DataDictionary.IsActive) | </th>
            </tr>
        </thead>
        @for (var i = 0; i < Model.RoleViewModel.Count(); i++)
        {
            <tr>
                <td>
                    <label>@(i+1)</label>
                </td>
                <td>
                    <a asp-page ="Update" asp-route-id = "@(Model.RoleViewModel[i].Id)" >U</a>
                    <a asp-page ="Delete" asp-route-id = "@(Model.RoleViewModel[i].Id)" >D</a>
                </td>
                <td>
                    <label class="form-label"> @(Model.RoleViewModel[i].Id) | </label>
                </td>
                <td>
                    <label class="form-label">@(Model.RoleViewModel[i].Name) | </label>
                </td>
                <td>
                    <label class="form-label">@(Model.RoleViewModel[i].IsActive) | </label>
                </td>
            </tr>
        }

    </table>


</div>