@page
@model EndPoint.Site.Pages.Roles.IndexModel
@{
}


<div class="col-12 ">
    <table>

        <thead>
            <tr class ="row-cols-6">@(Resources.DataDictionary.Id)       | </tr>
            <tr class ="row-cols-6">@(Resources.DataDictionary.RoleName) | </tr>
            <tr class ="row-cols-6">@(Resources.DataDictionary.IsActive) | </tr>
        </thead>
        
        @foreach (var item in Model.RoleViewModel)
        {
            <tr>
                <td>
                    <label class="form-label"> @(item.Id) | </label>
                </td>
                <td>
                    <label class="form-label">@(item.Name) | </label>
                </td>
                 <td>
                     <label class="form-label">@(item.IsActive) | </label>
                 </td>

            </tr>
        }

    </table>


</div>